<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour Du Lịch Hàng Đầu VIệt Nam</title>
    <link rel="stylesheet" href="https://pagecdn.io/lib/normalize/8.0.1/normalize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <link rel="shortcut icon" href="../Content/IMG/BG/logo.png">
    <link rel="stylesheet" href="../Content/CSS/grid.css">
    <link rel="stylesheet" href="../Content/CSS/base.css">
    <link rel="stylesheet" href="../Content/CSS/main.css">
    <link rel="stylesheet" href="../Content/CSS/layout.css">
    <link rel="stylesheet" href="../Content/CSS/responsive.css">
</head>
<body>
    <div class="container">
        <!-- Header -->
        <header class="header">
            <div class="grid header__container">
                <!-- Header Top -->
                <div class="header__top">
                    <div class="header__top-logo">
                        <a href="../index.html" class="header__top-logo--link">
                            <img src="../Content/IMG/BG/Untitled-2.png" alt="" class="header__top-logo-img">
                        </a>
                    </div>

                    <div class="header__top-right">
                        <!-- Nav Bar PC-->
                        <nav class="header__top-navbar">
                            <ul class="header__top-list">
                                <li class="header__top-item">
                                    <a href="#" class="header__top-link">
                                        Du lịch
                                        <i class="header__top-link--icon"><ion-icon name="arrow-dropdown"></ion-icon></i>
                                    </a>
                                    <!-- Sub Nav -->
                                    <div class="header__top-subnav--tour">
                                        <div class="grid wide">
                                            <div class="row">
                                                <div class="col l-3 subnav-tour__block">
                                                    <h3 class="subnav-tour__text-heading">TOUR MIỀN BẮC</h3>
                                                    <ul class="subnav-tour__list">
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hà Nội</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hải Phòng</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hà Giang</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Bắc Ninh</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hạ Long</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link subnav-tour__link--text-decoration">Xem tất cả</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col l-3 subnav-tour__block">
                                                    <h3 class="subnav-tour__text-heading">TOUR MIỀN BẮC</h3>
                                                    <ul class="subnav-tour__list">
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hà Nội</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hải Phòng</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hà Giang</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Bắc Ninh</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hạ Long</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link subnav-tour__link--text-decoration">Xem tất cả</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col l-3 subnav-tour__block">
                                                    <h3 class="subnav-tour__text-heading">TOUR MIỀN BẮC</h3>
                                                    <ul class="subnav-tour__list">
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hà Nội</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hải Phòng</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hà Giang</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Bắc Ninh</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hạ Long</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link subnav-tour__link--text-decoration">Xem tất cả</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col l-3 subnav-tour__block">
                                                    <h3 class="subnav-tour__text-heading">TOUR MIỀN BẮC</h3>
                                                    <ul class="subnav-tour__list">
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hà Nội</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hải Phòng</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hà Giang</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Bắc Ninh</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hạ Long</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link subnav-tour__link--text-decoration">Xem tất cả</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </li>
                                <li class="header__top-item">
                                    <a href="#" class="header__top-link">
                                        Tin tức
                                        <i class="header__top-link--icon"><ion-icon name="arrow-dropdown"></ion-icon></i>
                                    </a>
                                    <!-- SubNav News -->
                                    <ul class="subnav-news__list">
                                        <li class="subnav-news__item">
                                            <a href="../layout/newsList.html" class="subnav-news__link">Tin tức du lịch</a>
                                        </li>
                                        <li class="subnav-news__item">
                                            <a href="../layout/newsList.html" class="subnav-news__link">Cẩm nang du lịch</a>
                                        </li>
                                        <li class="subnav-news__item">
                                            <a href="../layout/newsList.html" class="subnav-news__link">Kinh nghiệm du lịch</a>
                                        </li>
                                    </ul>

                                </li>
                                <li class="header__top-item">
                                    <a href="../layout/introduce.html" class="header__top-link">Giới thiệu</a>
                                </li>
                                <li class="header__top-item">
                                    <a href="../layout/hotLine.html" class="header__top-link">Liên hệ</a>
                                </li>
                            </ul>
                        </nav>

                        <!-- Input & Icon Login -->
                        <div class="header__top-width-search">
                            <form method="post" id="formSearchHeader">
                                <div class="header__top-search">
                                    <input type="text" class="header__top-search--control" placeholder="Bắt đầu tìm kiếm...">
                                    <!-- <input type="submit" class="header__top-search--box" value> -->
                                    <button class="header__top-search--box">
                                        <i class="header__top-search--icon"><ion-icon name="search"></ion-icon></i>
                                    </button>
                                </div>
                            </form>

                            <div class="header__top-login">
                                <a href="" class="header__top-login--link">
                                    <i class="header__top-login--icon"><ion-icon name="contacts"></ion-icon></i>
                                </a>
                            </div>
                        </div>

                        <!-- Icon Check Nav Mobile -->
                        <label for="checkNavMobile" class="header__top-mobile--check">
                            <i class="header__top-mobile--icon"><ion-icon name="menu"></ion-icon></i>
                        </label>
                        <input type="checkbox" name="" id="checkNavMobile" class="header__top-mobile--checkbox">

                        <!-- Menu Mobile -->
                        <nav class="header__top-mobile--nav">
                            <!-- Icon Close -->
                            <label for="checkNavMobile" class="header__top-mobile--nav-label">
                                <i class="header__top-mobile--nav-icon--close"><ion-icon name="close"></ion-icon></i>
                            </label>

                            <!-- List -->
                            <ul class="header__top-mobile--list">
                                <li class="header__top-mobile--item">
                                    <div  class="header__top-mobile--link">
                                        <label for="checkSubNav" class="header__top-mobile--label">
                                            Du lịch
                                            <i class="header__top-link--icon"><ion-icon name="arrow-dropdown"></ion-icon></i>
                                        </label>
                                        <input type="checkbox" name="" hidden id="checkSubNav" class="sub-nav__mobile-checkbox">
                                        <div class="sub-nav__mobile sub-nav__mobile-tour">
                                            <div class="grid"> 
                                                <div class="row">
                                                    <div class="col m-6">
                                                        <ul class="sub-nav__mobile-list">
                                                            <h5 class="sub-nav__mobile-text--heading">TOUR MIỀN BẮC</h5>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Bắc Ninh</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Bắc Ninh</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Hà Giang</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Phú Thọ</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="subnav-tour__link--text-decoration">Xem thêm</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col m-6">
                                                        <ul class="sub-nav__mobile-list">
                                                            <h5 class="sub-nav__mobile-text--heading">TOUR MIỀN BẮC</h5>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Bắc Ninh</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Bắc Ninh</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Hà Giang</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Phú Thọ</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="subnav-tour__link--text-decoration">Xem thêm</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col m-6">
                                                        <ul class="sub-nav__mobile-list">
                                                            <h5 class="sub-nav__mobile-text--heading">TOUR MIỀN BẮC</h5>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Bắc Ninh</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Bắc Ninh</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Hà Giang</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Phú Thọ</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="subnav-tour__link--text-decoration">Xem thêm</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col m-6">
                                                        <ul class="sub-nav__mobile-list">
                                                            <h5 class="sub-nav__mobile-text--heading">TOUR MIỀN BẮC</h5>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Bắc Ninh</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Bắc Ninh</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Hà Giang</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Phú Thọ</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="subnav-tour__link--text-decoration">Xem thêm</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="header__top-mobile--item">
                                    <div class="header__top-mobile--link">
                                        <label for="checkSubNav-news" class="header__top-mobile--label">
                                            Tin tức
                                            <i class="header__top-link--icon"><ion-icon name="arrow-dropdown"></ion-icon></i>
                                        </label>
                                        <!-- List -->
                                        <input type="checkbox" name="" hidden id="checkSubNav-news" class="sub-nav__mobile-checkbox-news">
                                        <div class="sub-nav__mobile sub-nav__mobile-news">
                                            <ul class="sub-nav__mobile-list">
                                                <li class="sub-nav__mobile-item">
                                                    <a href="../layout/newsList.html" class="sub-nav__mobile-link">Tin tức du lịch</a>
                                                </li>
                                                <li class="sub-nav__mobile-item">
                                                    <a href="../layout/newsList.html" class="sub-nav__mobile-link">Cẩm nang du lịch</a>
                                                </li>
                                                <li class="sub-nav__mobile-item">
                                                    <a href="../layout/newsList.html" class="sub-nav__mobile-link">Kinh nghiệm du lịch</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="header__top-mobile--item">
                                    <a href="../layout/introduce.html" class="header__top-mobile--link">Giới thiệu</a>
                                </li>
                                <li class="header__top-mobile--item">
                                    <a href="../layout/hotLine.html" class="header__top-mobile--link">Liên Hệ</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <!-- Main -->
        <main>
            <div class="book__ticket content__block">
                <form action="">
                    <div class="grid wide">
                        <!-- Book Ticket Heading -->
                        <div class="row mb-50">
                            <div class="col l-4">
                                <div class="book__ticket-image">
                                    <img src="../Content/IMG/Tour/baclieu.jpg" alt="" class="book__ticket-image--img">
                                </div>
                            </div>
                            <div class="col l-8">
                                <div class="book__ticket-info">
                                    <div class="book__ticket-info--name">
                                        <h1 class="book__ticket-info--name-item">Phú Quốc - Ngắm Hoàng Hôn Tại Sunset Sanato - Bãi Sao (Khách Sạn 3 Sao - Vietnam Airlines)</h1>
                                    </div>
    
                                    <div class="book__ticket-info--ticket">
                                        <p class="book__ticket-info--bold">Khởi hành: <span>21/11/2021</span></p>
                                        <p class="book__ticket-info--bold">Thời gian: <span>3 ngày</span></p>
                                        <p class="book__ticket-info--bold">Nơi khởi hành: <span>TP Cần Thơ</span></p>
                                        <p class="book__ticket-info--bold">Số chổ nhận: <span id="JSslot">7</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <!-- Overview Tour -->
                        <div class="row">
                            <!-- Overveiw -->
                            <div class="col l-8">
                                <div class="text__heaing-block tour__overview">
                                    <h2 class="text__heaing-block--item">
                                        Tổng quan về chuyến đi
                                    </h2>
                                </div>
                                <div class="customer__block">
                                    <!-- Form Customer -->
                                    <div class="form__custtomer">
                                        <div class="text__sub-heaing-block tour__overview">
                                            <h2 class="text__sub-heaing-block--item">
                                                Thông tin người đặt vé
                                            </h2>
                                        </div>
                                        <div action="" class="form__custtomer-box">
                                            <div class="form__custtomer-item">
                                                <label for="namePLE" class="form__custtomer-item--label">Họ và Tên</label>
                                                <input type="text" id="namePLE" class="form__custtomer-item--control">
                                            </div>
                                            <div class="form__custtomer-item">
                                                <label for="emailPLE" class="form__custtomer-item--label">Email</label>
                                                <input type="email" id="emailPLE" class="form__custtomer-item--control">
                                            </div>
    
                                            <div class="form__custtomer-item w-100">
                                                <label for="phonePLE" class="form__custtomer-item--label">Số điện thoại</label>
                                                <input type="number" id="phonePLE" class="form__custtomer-item--control">
                                            </div>
    
                                            <div class="form__custtomer-item form__custtomer-item--select">
                                                <label for="phonePLE" class="form__custtomer-item--label">Tỉnh / TP</label>
                                                <select name="" id="" class="info__customer-adults--control">
                                                    <option value="">Tỉnh / TP</option>
                                                    <option value="male">Nam</option>
                                                    <option value="female">Nữ</option>
                                                </select>
                                            </div>
                                            <div class="form__custtomer-item form__custtomer-item--select">
                                                <label for="phonePLE" class="form__custtomer-item--label">Quận / Huyện</label>
                                                <select name="" id="" class="info__customer-adults--control">
                                                    <option value="">Quận / Huyện</option>
                                                    <option value="male">Nam</option>
                                                    <option value="female">Nữ</option>
                                                </select>
                                            </div>
                                            <div class="form__custtomer-item form__custtomer-item--select">
                                                <label for="phonePLE" class="form__custtomer-item--label">Phường / Xã</label>
                                                <select name="" id="" class="info__customer-adults--control">
                                                    <option value="">Phường / xã</option>
                                                    <option value="male">Nam</option>
                                                    <option value="female">Nữ</option>
                                                </select>
                                            </div>
                                            <div class="form__custtomer-item form__custtomer-item--select">
                                                <label for="phonePLE" class="form__custtomer-item--label">Địa chỉ</label>
                                                <input type="text" class="info__customer-adults--control" placeholder="VD: 271/Nguyễn Văn Linh">    
                                            </div>
                                            
                                            
                                        </div>
                                    </div>
    
                                    <!-- Change Number Customer -->
                                    <div class="chagne__customer">
                                        <div class="text__sub-heaing-block tour__overview">
                                            <h2 class="text__sub-heaing-block--item">
                                                Hành khách
                                            </h2>
                                        </div>
    
                                        <div class="change__customer-block">
                                            <div id="JSchangeAdult" class="change__customer-item">

                                                <div class="change__customer-title">
                                                    <h4>Người lớn</h4>
                                                    <p>> 12 tuổi</p>
                                                </div>
            
                                                <div class="change__customer-control">
                                                    <span class="change change__customer-control--min js__minus-btn--adults">
                                                        <i><ion-icon name="remove"></ion-icon></i>
                                                    </span>
                                                    <span class="change__customer-control--num js__num-btn--adults">
                                                        1
                                                    </span>
                                                    <span class="change change__customer-control--plus js__add-btn--adults">
                                                        <i><ion-icon name="add"></ion-icon></i>
                                                    </span>
                                                </div>
                                            </div>
            
                                            <div id="JSchangeKid" class="change__customer-item">
                                                <div class="change__customer-title">
                                                    <h4>Trẻ em</h4>
                                                    <p>< 12 tuổi</p>
                                                </div>
            
                                                <div class="change__customer-control">
                                                    <span class="change change__customer-control--min js__minus-btn--kids">
                                                        <i><ion-icon name="remove"></ion-icon></i>
                                                    </span>
                                                    <span class="change__customer-control--num js__num-btn--kids">
                                                        0
                                                    </span>
                                                    <span class="change change__customer-control--plus js__add-btn--kids">
                                                        <i><ion-icon name="add"></ion-icon></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
    
    
                                    </div>
    
                                    <!-- Info Customer -->
                                    <div class="info__customer">
                                        <div class="text__sub-heaing-block tour__overview">
                                            <h2 class="text__sub-heaing-block--item">
                                                Thông tin Hành Khách
                                            </h2>
                                        </div>
    
                                        <div id="JSFormInfoCustomer" class="">
                                            <div id="JSCustomerAdultsBox" class="info__customer-adults">
                                                <div class="info__customer-adults--title">
                                                    <h4>Người lớn</h4>
                                                </div>
                                                <div class="info__customer-adults--checkbox">
                                                    <input type="checkbox" name="" id="checkboxLocal" class="info__customer-adults--checkbox-item">
                                                    <label for="checkboxLocal" class="info__customer-adults--checkbox-title">Sử dụng địa chỉ người đặt vé làm địa chỉ khách hàng</label>
                                                </div>


                                                
                                                <div class="info__customer-adults--form js__form-adults">
                                                        <div class="info__customer-adults--form-item info__customer-adults--form-text">
                                                            <label for="" class="info__customer-adults--label">Họ tên</label>
                                                            <input type="text" class="info__customer-adults--control" placeholder="Họ và tên">
                                                        </div>
        
                                                        <div class="info__customer-adults--form-item info__customer-adults--form-select">
                                                            <label for="" class="info__customer-adults--label">Giới tính</label>
                                                            <select name="" id="" class="info__customer-adults--control">
                                                                <option value="">Giới tính</option>
                                                                <option value="male">Nam</option>
                                                                <option value="female">Nữ</option>
                                                            </select>
                                                        </div>
        
                                                        <div class="info__customer-adults--form-item info__customer-adults--form-select">
                                                            <label for="" class="info__customer-adults--label">Ngày sinh</label>
                                                            <input type="date" class="info__customer-adults--control">
                                                        </div>
        
                                                        <div class="info__customer-adults--form-item w-100">
                                                            <label for="" class="info__customer-adults--label">Số căn cước công dân</label>
                                                            <input type="number" class="info__customer-adults--control" placeholder="CCCD">
                                                        </div>
    
                                                        <div class="info__customer-adults--form-item info__customer-adults--form-select">
                                                            <label for="" class="info__customer-adults--label">Tỉnh / TP</label>
                                                            <select name="" id="" class="info__customer-adults--control">
                                                                <option value="">Tỉnh/TP</option>
                                                                <option value="male">Nam</option>
                                                                <option value="female">Nữ</option>
                                                            </select>
                                                        </div>
    
                                                        <div class="info__customer-adults--form-item info__customer-adults--form-select">
                                                            <label for="" class="info__customer-adults--label">Quận / Huyện</label>
                                                            <select name="" id="" class="info__customer-adults--control">
                                                                <option value="">Quận/Huyện</option>
                                                                <option value="male">Nam</option>
                                                                <option value="female">Nữ</option>
                                                            </select>
                                                        </div>
    
                                                        <div class="info__customer-adults--form-item info__customer-adults--form-select">
                                                            <label for="" class="info__customer-adults--label">Phường Xã</label>
                                                            <select name="" id="" class="info__customer-adults--control">
                                                                <option value="">Phường Xã</option>
                                                                <option value="male">Nam</option>
                                                                <option value="female">Nữ</option>
                                                            </select>
                                                        </div>
    
                                                        <div class="info__customer-adults--form-item info__customer-adults--form-select-text">
                                                            <label for="" class="info__customer-adults--label">Địa chỉ</label>
                                                            <input type="text" class="info__customer-adults--control" placeholder="VD: 271/Nguyễn Văn Linh">
                                                        </div>
                                                </div>
    
                                            </div>
    
                                            <div id="JSCustomerKidsBox" class="info__customer-adults">
                                                <!-- <div class="info__customer-adults--title js__form-kid--title">
                                                    <h4>Trẻ em</h4>
                                                </div> -->
                                                
                                                 <!-- <div class="info__customer-adults--form js__form-kid">
                                                    <div class="info__customer-adults--form-item info__customer-adults--form-text">
                                                        <label for="" class="info__customer-adults--label">Họ tên</label>
                                                        <input type="text" class="info__customer-adults--control">
                                                    </div>
    
                                                    <div class="info__customer-adults--form-item info__customer-adults--form-select">
                                                        <label for="" class="info__customer-adults--label">Giới tính</label>
                                                        <select name="" id="" class="info__customer-adults--control">
                                                            <option value="">Giới tính</option>
                                                            <option value="male">Nam</option>
                                                            <option value="female">Nữ</option>
                                                        </select>
                                                    </div>
    
                                                    <div class="info__customer-adults--form-item info__customer-adults--form-select">
                                                        <label for="" class="info__customer-adults--label">Ngày sinh</label>
                                                        <input type="date" class="info__customer-adults--control">
                                                    </div>
                                                    
                                                </div> -->
    
                                            </div>
    
                                        </div>
                                    </div>
    
                                    <!-- Customer Save Inner -->
                                    <div class="inner__customer">
                                        <div class="text__sub-heaing-block tour__overview">
                                            <h2 class="text__sub-heaing-block--item">
                                                Qúy khách có ghi chú, lưu ý gì hãy nói với chúng tôi !
                                            </h2>
                                        </div>
    
                                        <div class="inner__customer-box">
                                            <textarea name="" id="" class="inner__customer-box--control" cols="30" rows="10" placeholder="Vui lòng nhập nội dung lời nhắn bằng tiếng Anh hoặc tiếng Việt"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <!-- Trip summary -->
                            <div class="col l-4">
                                <div class="summary__trip">
                                    <div class="text__heaing-block tour__overview">
                                        <h2 class="text__heaing-block--item">
                                            Tóm tắt chuyến đi
                                        </h2>
                                    </div>
                                    
                                    <!-- Summary Trip Info -->
                                    <div class="summary__trip-info">
                                        <div class="summary__trip-info--image">
                                            <img src="../Content/IMG/Tour/baclieu.jpg" alt="" class="summary__trip-info--image-img">
                                        </div>
                                        <div class="summary__trip-info--name">
                                            <h4 class="summary__trip-info--name-item">
                                                Phú Quốc - Ngắm Hoàng Hôn Tại Sunset Sanato - Bãi Sao (Khách Sạn 3 Sao - Vietnam Airlines) 
                                            </h4>
                                        </div>
                                    </div>
    
                                    <!-- Summary Trip Go -->
                                    <div class="summary__trip-go">
                                        <div class="summary__trip-go--start">
                                            <i class="start__icon"><ion-icon name="calendar"></ion-icon></i>
                                            <div class="start__content">
                                                <h4 class="start__content-label">Bắt đầu chuyến đi</h4>
                                                <p class="start__content-date">T7, 27 Tháng 11, 2021</p>
                                            </div>
                                        </div>
                                        <div class="summary__trip-go--end">
                                            <i class="end__icon"><ion-icon name="calendar"></ion-icon></i>
                                            <div class="end__content">
                                                <h4 class="end__content-label">Kết thúc chuyến đi</h4>
                                                <p class="end__content-date">T4, 1 Tháng 12, 2021</p>
                                            </div>
                                        </div>
                                    </div>
    
                                    <!-- Summart Trip Details -->
                                    <div class="summary__trip-detail">
                                        <table class="summary__trip-detail--tbl">
                                            <tbody>
                                                <tr>
                                                    <th class="text-left">Hành khách</th>
                                                    <th class="text-right"><i class="summary__trip-detail--tbl-icon"><ion-icon name="people"></ion-icon></i></th>
                                                </tr>
                                                <tr>
                                                    <td>Người lớn: </td>
                                                    <td class="text-right fw-bold JS-Total-Money-Adult">1 X 10,590,000đ</td>
                                                </tr>
                                                <tr>
                                                    <td>Người trẻ em: </td>
                                                    <td class="text-right fw-bold JS-Total-Money-Kid">1 X 7,590,000đ</td>
                                                </tr>
                                                <tr>
                                                    <td>Tổng cộng: </td>
                                                    <td class="price text-right JS-Total-Money-All">18,180,000đ</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <button class="btn summary__trip-detail--btn">Đặt ngay</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                
            </div>
        </main>

        <!-- Footer -->
        <footer>
            <!-- Footer Top -->
            <div class="footer__top">
                <div class="grid wide">
                    <div class="row">
                        <div class="col l-3 m-4 c-6">
                            <div class="footer__top-item">
                                <div class="footer__text-heading">
                                    <h4>Liên Hệ</h4>
                                </div>
                                <p class="footer__top-text--content">379, Nguyễn Văn Linh, Phường Long Tuyền, Quận Bình Thủy, TP Cần Thơ</p>
                                <p class="footer__top-text--content">(+84 28) 74821032</p>
                                <p class="footer__top-text--content">(+84 28) 39123123</p>
                                <p class="footer__top-text--content">@tourvn.com.vn</p>
                            </div>
                        </div>

                        <div class="col l-3 m-4 c-6">
                            <div class="footer__top-item">
                                <div class="footer__text-heading">
                                    <h4>Thông tin</h4>
                                </div>
                                <p class="footer__top-text--content">Thành lập ngày 18/9/2002</p>
                                <p class="footer__top-text--content">Chất lượng phục vụ là mục tiêu hàng đầu</p>
                                <p class="footer__top-text--content">Tổng đài Hotline 24/7</p>
                            </div>
                        </div>

                        <div class="col l-3 m-4 c-6">
                            <div class="footer__top-item">
                                <div class="footer__text-heading">
                                    <h4>Dịch vụ</h4>
                                </div>
                                <p class="footer__top-text--content">Đa dạng loại tour, đạt chất lượng tốt nhất</p>
                                <p class="footer__top-text--content">Hỗ trợ hoàn trả vé niếu khách hàng không hài lòng</p>
                                <p class="footer__top-text--content">Đặt tour nhanh chống dễ dàng</p>
                                <p class="footer__top-text--content">Bảo đảm mức giá tốt nhất</p>
                            </div>
                        </div>

                        <div class="col l-3 m-4 c-6">
                            <div class="footer__top-item">
                                <div class="footer__text-heading">
                                    <h4>Thanh toán</h4>
                                </div>
                                <div class="footer__top-img--group">
                                    <img src="../Content/IMG/BG/123pay.png" alt="" class="footer__top-img-item">
                                    <img src="../Content/IMG/BG/jcb.png" alt="" class="footer__top-img-item">
                                    <img src="../Content/IMG/BG/mattercard.png" alt="" class="footer__top-img-item">
                                    <img src="../Content/IMG/BG/verifined.png" alt="" class="footer__top-img-item">
                                    <img src="../Content/IMG/BG/visa.png" alt="" class="footer__top-img-item">
                                    <img src="../Content/IMG/BG/vnpay.png" alt="" class="footer__top-img-item">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col l-3 m-4 c-6">
                            <div class="footer__top-item">
                                <div class="footer__text-heading">
                                    <h4>Mạng Xã Hội</h4>
                                </div>
                                <ul class="footer__social-list">
                                    <li class="footer__social-item">
                                        <a href="" class="footer__social-link">
                                            <i class="footer__social-icon"><ion-icon name="logo-facebook"></ion-icon></i>
                                        </a>
                                    </li>
                                    <li class="footer__social-item">
                                        <a href="" class="footer__social-link">
                                            <i class="footer__social-icon"><ion-icon name="logo-instagram"></ion-icon></i>
                                        </a>
                                    </li>
                                    <li class="footer__social-item">
                                        <a href="" class="footer__social-link">
                                            <i class="footer__social-icon"><ion-icon name="logo-whatsapp"></ion-icon></i>
                                        </a>
                                    </li>
                                    <li class="footer__social-item">
                                        <a href="" class="footer__social-link">
                                            <i class="footer__social-icon"><ion-icon name="logo-youtube"></ion-icon></i>
                                        </a>
                                    </li>
                                    <li class="footer__social-item">
                                        <a href="" class="footer__social-link">
                                            <i class="footer__social-icon"><ion-icon name="logo-sass"></ion-icon></i>
                                        </a>
                                    </li>
                                </ul>

                                <div class="footer__top-hotline">
                                    <a href="" class="footer__top-hotline--link">
                                        <i class="footer__top-hotline--icon"><ion-icon name="call"></ion-icon></i>
                                        1900 1389
                                    </a>
                                </div>

                                <p class="footer__top-text--content">Tư vấn hotline 27/7</p>

                            </div>
                        </div>

                        <div class="col l-9 m-12 c-12">
                            <div class="footer__text-heading">
                                <h4>Địa Chỉ Trụ Sở</h4>
                            </div>
                            <div class="footer__top-map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d450.335639392406!2d105.74423887093945!3d10.036991250892353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a0886654934019%3A0x3dcdae77f5d0f30b!2zUXXDoW4gQ8ahbSBHw6AgWOG7kWkgTeG7oSBUaMOgbmggxJDhuqF0IDI!5e0!3m2!1svi!2s!4v1636857389378!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer Bottom -->
            <div class="footer__bottom">
                <div class="grid wide">
                    <div class="row">
                        <div class="col l-12">
                            <div class="footer__bottom-coppy-right">
                                <p>Bản quyền của Tour VN ® 2019. Bảo lưu mọi quyền.</p>
                                <p>Ghi rõ nguồn "www.TourVN.com.vn" ® khi sử dụng lại thông tin từ website này.</p>
                                <p>Số giấy phép kinh doanh lữ hành Quốc tế: 79-234/2014/TCDL-GP LHQT.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="../Content/JS/js.js"></script>
    <script>
        bookTicket();
    </script>
</body>
</html>