<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour Du Lịch Hàng Đầu VIệt Nam</title>
    <link rel="stylesheet" href="https://pagecdn.io/lib/normalize/8.0.1/normalize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <link rel="shortcut icon" href="../Content/IMG/BG/logo.png">
    <link rel="stylesheet" href="../Content/CSS/grid.css">
    <link rel="stylesheet" href="../Content/CSS/base.css">
    <link rel="stylesheet" href="../Content/CSS/main.css">
    <link rel="stylesheet" href="../Content/CSS/layout.css">
    <link rel="stylesheet" href="../Content/CSS/responsive.css">
</head>
<body>
    <div class="container">
        <!-- Header -->
        <header class="header">
            <div class="grid header__container">
                <!-- Header Top -->
                <div class="header__top">
                    <div class="header__top-logo">
                        <a href="../index.html" class="header__top-logo--link">
                            <img src="../Content/IMG/BG/Untitled-2.png" alt="" class="header__top-logo-img">
                        </a>
                    </div>

                    <div class="header__top-right">
                        <!-- Nav Bar PC-->
                        <nav class="header__top-navbar">
                            <ul class="header__top-list">
                                <li class="header__top-item">
                                    <a href="#" class="header__top-link">
                                        Du lịch
                                        <i class="header__top-link--icon"><ion-icon name="arrow-dropdown"></ion-icon></i>
                                    </a>
                                    <!-- Sub Nav -->
                                    <div class="header__top-subnav--tour">
                                        <div class="grid wide">
                                            <div class="row">
                                                <div class="col l-3 subnav-tour__block">
                                                    <h3 class="subnav-tour__text-heading">TOUR MIỀN BẮC</h3>
                                                    <ul class="subnav-tour__list">
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hà Nội</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hải Phòng</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hà Giang</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Bắc Ninh</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hạ Long</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link subnav-tour__link--text-decoration">Xem tất cả</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col l-3 subnav-tour__block">
                                                    <h3 class="subnav-tour__text-heading">TOUR MIỀN BẮC</h3>
                                                    <ul class="subnav-tour__list">
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hà Nội</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hải Phòng</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hà Giang</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Bắc Ninh</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hạ Long</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link subnav-tour__link--text-decoration">Xem tất cả</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col l-3 subnav-tour__block">
                                                    <h3 class="subnav-tour__text-heading">TOUR MIỀN BẮC</h3>
                                                    <ul class="subnav-tour__list">
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hà Nội</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hải Phòng</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hà Giang</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Bắc Ninh</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hạ Long</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link subnav-tour__link--text-decoration">Xem tất cả</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col l-3 subnav-tour__block">
                                                    <h3 class="subnav-tour__text-heading">TOUR MIỀN BẮC</h3>
                                                    <ul class="subnav-tour__list">
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hà Nội</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hải Phòng</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hà Giang</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Bắc Ninh</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hạ Long</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link subnav-tour__link--text-decoration">Xem tất cả</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </li>
                                <li class="header__top-item">
                                    <a href="#" class="header__top-link">
                                        Tin tức
                                        <i class="header__top-link--icon"><ion-icon name="arrow-dropdown"></ion-icon></i>
                                    </a>
                                    <!-- SubNav News -->
                                    <ul class="subnav-news__list">
                                        <li class="subnav-news__item">
                                            <a href="../layout/newsList.html" class="subnav-news__link">Tin tức du lịch</a>
                                        </li>
                                        <li class="subnav-news__item">
                                            <a href="../layout/newsList.html" class="subnav-news__link">Cẩm nang du lịch</a>
                                        </li>
                                        <li class="subnav-news__item">
                                            <a href="../layout/newsList.html" class="subnav-news__link">Kinh nghiệm du lịch</a>
                                        </li>
                                    </ul>

                                </li>
                                <li class="header__top-item">
                                    <a href="../layout/introduce.html" class="header__top-link">Giới thiệu</a>
                                </li>
                                <li class="header__top-item">
                                    <a href="../layout/hotLine.html" class="header__top-link">Liên hệ</a>
                                </li>
                            </ul>
                        </nav>

                        <!-- Input & Icon Login -->
                        <div class="header__top-width-search">
                            <form method="post" id="formSearchHeader">
                                <div class="header__top-search">
                                    <input type="text" class="header__top-search--control" placeholder="Bắt đầu tìm kiếm...">
                                    <!-- <input type="submit" class="header__top-search--box" value> -->
                                    <button class="header__top-search--box">
                                        <i class="header__top-search--icon"><ion-icon name="search"></ion-icon></i>
                                    </button>
                                </div>
                            </form>

                            <div class="header__top-login">
                                <a href="" class="header__top-login--link">
                                    <i class="header__top-login--icon"><ion-icon name="contacts"></ion-icon></i>
                                </a>
                            </div>
                        </div>

                        <!-- Icon Check Nav Mobile -->
                        <label for="checkNavMobile" class="header__top-mobile--check">
                            <i class="header__top-mobile--icon"><ion-icon name="menu"></ion-icon></i>
                        </label>
                        <input type="checkbox" name="" id="checkNavMobile" class="header__top-mobile--checkbox">

                        <!-- Menu Mobile -->
                        <nav class="header__top-mobile--nav">
                            <!-- Icon Close -->
                            <label for="checkNavMobile" class="header__top-mobile--nav-label">
                                <i class="header__top-mobile--nav-icon--close"><ion-icon name="close"></ion-icon></i>
                            </label>

                            <!-- List -->
                            <ul class="header__top-mobile--list">
                                <li class="header__top-mobile--item">
                                    <div  class="header__top-mobile--link">
                                        <label for="checkSubNav" class="header__top-mobile--label">
                                            Du lịch
                                            <i class="header__top-link--icon"><ion-icon name="arrow-dropdown"></ion-icon></i>
                                        </label>
                                        <input type="checkbox" name="" hidden id="checkSubNav" class="sub-nav__mobile-checkbox">
                                        <div class="sub-nav__mobile sub-nav__mobile-tour">
                                            <div class="grid"> 
                                                <div class="row">
                                                    <div class="col m-6">
                                                        <ul class="sub-nav__mobile-list">
                                                            <h5 class="sub-nav__mobile-text--heading">TOUR MIỀN BẮC</h5>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Bắc Ninh</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Bắc Ninh</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Hà Giang</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Phú Thọ</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="subnav-tour__link--text-decoration">Xem thêm</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col m-6">
                                                        <ul class="sub-nav__mobile-list">
                                                            <h5 class="sub-nav__mobile-text--heading">TOUR MIỀN BẮC</h5>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Bắc Ninh</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Bắc Ninh</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Hà Giang</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Phú Thọ</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="subnav-tour__link--text-decoration">Xem thêm</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col m-6">
                                                        <ul class="sub-nav__mobile-list">
                                                            <h5 class="sub-nav__mobile-text--heading">TOUR MIỀN BẮC</h5>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Bắc Ninh</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Bắc Ninh</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Hà Giang</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Phú Thọ</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="subnav-tour__link--text-decoration">Xem thêm</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col m-6">
                                                        <ul class="sub-nav__mobile-list">
                                                            <h5 class="sub-nav__mobile-text--heading">TOUR MIỀN BẮC</h5>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Bắc Ninh</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Bắc Ninh</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Hà Giang</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Phú Thọ</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="subnav-tour__link--text-decoration">Xem thêm</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="header__top-mobile--item">
                                    <div class="header__top-mobile--link">
                                        <label for="checkSubNav-news" class="header__top-mobile--label">
                                            Tin tức
                                            <i class="header__top-link--icon"><ion-icon name="arrow-dropdown"></ion-icon></i>
                                        </label>
                                        <!-- List -->
                                        <input type="checkbox" name="" hidden id="checkSubNav-news" class="sub-nav__mobile-checkbox-news">
                                        <div class="sub-nav__mobile sub-nav__mobile-news">
                                            <ul class="sub-nav__mobile-list">
                                                <li class="sub-nav__mobile-item">
                                                    <a href="../layout/newsList.html" class="sub-nav__mobile-link">Tin tức du lịch</a>
                                                </li>
                                                <li class="sub-nav__mobile-item">
                                                    <a href="../layout/newsList.html" class="sub-nav__mobile-link">Cẩm nang du lịch</a>
                                                </li>
                                                <li class="sub-nav__mobile-item">
                                                    <a href="../layout/newsList.html" class="sub-nav__mobile-link">Kinh nghiệm du lịch</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="header__top-mobile--item">
                                    <a href="../layout/introduce.html" class="header__top-mobile--link">Giới thiệu</a>
                                </li>
                                <li class="header__top-mobile--item">
                                    <a href="../layout/hotLine.html" class="header__top-mobile--link">Liên Hệ</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <!-- Main -->
        <main>
            <!-- List Tour Cate -->
            <div class="grid wide">
                <div class="row">
                    <!-- List Tour -->
                    <div class="col l-12 m-12 c-12">  
                        <div class="intro__block">
                            <!-- Text heading -->
                            <div class="content__text-heading">
                                <h1 class="content__text-heading--item">Giới Thiệu</h1>
                                <div class="content__text-info">
                                    <p class="content__text-info--desc text-center">
                                        Là Chương trình Liên kết Giảm giá của các đơn vị đối tác TourVN kinh doanh trong các 
                                        lĩnh vực: Mua sắm – Thời trang, Khách sạn, Sức khoẻ – Thẩm mỹ, Am thực – Cà phê, 
                                        Dịch vụ Ao cưới, Giáo dục – Trung tâm Đào tạo nhằm gia tăng giá trị cộng thêm về quyền lợi 
                                        và đáp ứng nhu cầu của khách hàng sở hữu Thẻ Thành viên TourVN.
                                    </p>
                                </div>
                            </div>

                            <div class="intro__list">
                                <div class="grid">
                                    <div class="row">
                                        <div class="col l-12">
                                            <div class="intro__image">
                                                <img src="../Content/IMG/BG/Backgound.jpg" alt="" class="intro__image-img">
                                            </div>
                                        </div>
                                        
                                        <div class="col l-12">
                                            <div class="intro__main-text">
                                                Là Chương trình Liên kết Giảm giá của các đơn vị đối tác TourVN kinh doanh trong các lĩnh vực: Mua sắm – 
                                                Thời trang, Khách sạn, Sức khoẻ – Thẩm mỹ, Am thực – Cà phê, Dịch vụ Ao cưới, Giáo dục – Trung tâm Đào 
                                                tạo nhằm gia tăng giá trị cộng thêm về quyền lợi và đáp ứng nhu cầu của khách hàng sở hữu Thẻ Thành viên TourVN.
                                            </div>

                                            <div class="intro__sub--main-text">
                                                <p>
                                                    <strong>Là khách hàng sở hữu Thẻ thành viên TourVN</strong>, bạn sẽ được thỏa sức mua sắm với mức ưu đãi giảm giá từ 5% – 50% 
                                                    khi sử dụng dịch vụ của các đơn vị đối tác TourVN ở các lĩnh vực:
                                                </p>
                                                <p>
                                                    · Mua sắm: các trung tâm mua sắm, cửa hàng thời trang với nhiều nhãn hàng nổi tiếng có thương hiệu trong và ngoài nước.
                                                </p>
                                                <p>
                                                    · Khách sạn: các khách sạn đạt tiêu chuẩn kinh doanh dịch vụ lưu trú
                                                </p>
                                                <p>
                                                    · Sức khỏe: địa điểm trung tâm nha khoa, dịch vụ làm đẹp chăm sóc sức khỏe (spa) và beauty Salon, …
                                                </p>
                                                <p>
                                                    · Ẩm thực: địa điểm kinh doanh nhà hàng, cà phê
                                                </p>
                                                <p>
                                                    · Áo cưới: các trung tâm kinh doanh áo cưới: quay phim, chụp hình và thuê/may các trang phục cưới
                                                </p>
                                                <p>
                                                    · Giáo dục: các trường, trung tâm đào tạo ngắn và dài hạn ở nhiều chuyên môn khác nhau.
                                                </p>
                                                <p>
                                                    Mỗi hội viên của Chương trình Thẻ thành viên TourVN sẽ được cập nhật tài khoản điểm tích lũy sau mỗi chuyến du 
                                                    lịch cùng TourVN. Hãy đăng ký ngay hôm nay để trở thành hội viên của chương trình.
                                                </p>
                                            </div>

                                            <div class="intro__sub--main-text">
                                                <p>
                                                    <strong>Là nhà cung ứng dịch vụ khi tham gia Hệ thống Liên kết Giảm giá – Win Together để cùng TourVN</strong>, bạn sẽ trở thành 
                                                    Quý đối tác của chúng tôi và tận hưởng cơ hội lớn để tiếp cận với những khách hàng tiềm năng thông qua các quyền lợi:
                                                </p>
                                                <p>
                                                    · Được chia sẻ lượng khách hàng đến sử dụng dịch vụ.
                                                </p>
                                                <p>
                                                    · Được quảng bá và giới thiệu sản phẩm dịch vụ đến khách hàng.
                                                </p>
                                                <p>
                                                    · Được phát triển thương hiệu qua các hình thức ưu đãi, giảm giá trực tiếp… cùng với các đơn vị kinh doanh 
                                                    thuộc hệ thống các đối tác sâu rộng của TourVN.
                                                </p>
                                                <p>
                                                    · Được quảng bá miễn phí trên các phương tiện truyền thông như: Tạp chí Người Du lịch, Bản tin TourVN, website www.tourVN.cf, 
                                                    tờ rơi giới thiệu chương trình, … cùng với các ấn phẩm quảng bá về chương trình WinTogether.
                                                </p>
                                                <p>
                                                    TourVN luôn hân hoan chào đón Quý Đối tác quan tâm và mong muốn trở thành thành viên trong Hệ thống Liên kết Giảm giá 
                                                    của TourVN để cùng chia sẻ những lợi ích nhất định từ TourVN và cùng đẩy mạnh thương hiệu đến khách hàng.
                                                </p>
                                                <p>
                                                    · Giáo dục: các trường, trung tâm đào tạo ngắn và dài hạn ở nhiều chuyên môn khác nhau.
                                                </p>
                                                <p>
                                                    Mỗi hội viên của Chương trình Thẻ thành viên Vietrave sẽ được cập nhật tài khoản điểm tích lũy sau mỗi chuyến du lịch cùng Vietravel. Hãy đăng ký ngay hôm nay để trở thành hội viên của chương trình.
                                                </p>
                                            </div>


                                        </div>


                                    </div>
                                </div>
    
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </main>

        <!-- Footer -->
        <footer>
            <!-- Footer Top -->
            <div class="footer__top">
                <div class="grid wide">
                    <div class="row">
                        <div class="col l-3 m-4 c-6">
                            <div class="footer__top-item">
                                <div class="footer__text-heading">
                                    <h4>Liên Hệ</h4>
                                </div>
                                <p class="footer__top-text--content">379, Nguyễn Văn Linh, Phường Long Tuyền, Quận Bình Thủy, TP Cần Thơ</p>
                                <p class="footer__top-text--content">(+84 28) 74821032</p>
                                <p class="footer__top-text--content">(+84 28) 39123123</p>
                                <p class="footer__top-text--content">@tourvn.com.vn</p>
                            </div>
                        </div>

                        <div class="col l-3 m-4 c-6">
                            <div class="footer__top-item">
                                <div class="footer__text-heading">
                                    <h4>Thông tin</h4>
                                </div>
                                <p class="footer__top-text--content">Thành lập ngày 18/9/2002</p>
                                <p class="footer__top-text--content">Chất lượng phục vụ là mục tiêu hàng đầu</p>
                                <p class="footer__top-text--content">Tổng đài Hotline 24/7</p>
                            </div>
                        </div>

                        <div class="col l-3 m-4 c-6">
                            <div class="footer__top-item">
                                <div class="footer__text-heading">
                                    <h4>Dịch vụ</h4>
                                </div>
                                <p class="footer__top-text--content">Đa dạng loại tour, đạt chất lượng tốt nhất</p>
                                <p class="footer__top-text--content">Hỗ trợ hoàn trả vé niếu khách hàng không hài lòng</p>
                                <p class="footer__top-text--content">Đặt tour nhanh chống dễ dàng</p>
                                <p class="footer__top-text--content">Bảo đảm mức giá tốt nhất</p>
                            </div>
                        </div>

                        <div class="col l-3 m-4 c-6">
                            <div class="footer__top-item">
                                <div class="footer__text-heading">
                                    <h4>Thanh toán</h4>
                                </div>
                                <div class="footer__top-img--group">
                                    <img src="../Content/IMG/BG/123pay.png" alt="" class="footer__top-img-item">
                                    <img src="../Content/IMG/BG/jcb.png" alt="" class="footer__top-img-item">
                                    <img src="../Content/IMG/BG/mattercard.png" alt="" class="footer__top-img-item">
                                    <img src="../Content/IMG/BG/verifined.png" alt="" class="footer__top-img-item">
                                    <img src="../Content/IMG/BG/visa.png" alt="" class="footer__top-img-item">
                                    <img src="../Content/IMG/BG/vnpay.png" alt="" class="footer__top-img-item">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col l-3 m-4 c-6">
                            <div class="footer__top-item">
                                <div class="footer__text-heading">
                                    <h4>Mạng Xã Hội</h4>
                                </div>
                                <ul class="footer__social-list">
                                    <li class="footer__social-item">
                                        <a href="" class="footer__social-link">
                                            <i class="footer__social-icon"><ion-icon name="logo-facebook"></ion-icon></i>
                                        </a>
                                    </li>
                                    <li class="footer__social-item">
                                        <a href="" class="footer__social-link">
                                            <i class="footer__social-icon"><ion-icon name="logo-instagram"></ion-icon></i>
                                        </a>
                                    </li>
                                    <li class="footer__social-item">
                                        <a href="" class="footer__social-link">
                                            <i class="footer__social-icon"><ion-icon name="logo-whatsapp"></ion-icon></i>
                                        </a>
                                    </li>
                                    <li class="footer__social-item">
                                        <a href="" class="footer__social-link">
                                            <i class="footer__social-icon"><ion-icon name="logo-youtube"></ion-icon></i>
                                        </a>
                                    </li>
                                    <li class="footer__social-item">
                                        <a href="" class="footer__social-link">
                                            <i class="footer__social-icon"><ion-icon name="logo-sass"></ion-icon></i>
                                        </a>
                                    </li>
                                </ul>

                                <div class="footer__top-hotline">
                                    <a href="" class="footer__top-hotline--link">
                                        <i class="footer__top-hotline--icon"><ion-icon name="call"></ion-icon></i>
                                        1900 1389
                                    </a>
                                </div>

                                <p class="footer__top-text--content">Tư vấn hotline 27/7</p>

                            </div>
                        </div>

                        <div class="col l-9 m-12 c-12">
                            <div class="footer__text-heading">
                                <h4>Địa Chỉ Trụ Sở</h4>
                            </div>
                            <div class="footer__top-map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d450.335639392406!2d105.74423887093945!3d10.036991250892353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a0886654934019%3A0x3dcdae77f5d0f30b!2zUXXDoW4gQ8ahbSBHw6AgWOG7kWkgTeG7oSBUaMOgbmggxJDhuqF0IDI!5e0!3m2!1svi!2s!4v1636857389378!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer Bottom -->
            <div class="footer__bottom">
                <div class="grid wide">
                    <div class="row">
                        <div class="col l-12">
                            <div class="footer__bottom-coppy-right">
                                <p>Bản quyền của Tour VN ® 2019. Bảo lưu mọi quyền.</p>
                                <p>Ghi rõ nguồn "www.TourVN.com.vn" ® khi sử dụng lại thông tin từ website này.</p>
                                <p>Số giấy phép kinh doanh lữ hành Quốc tế: 79-234/2014/TCDL-GP LHQT.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="./Content/JS/js.js"></script>
    <script>
        checkLocal();
        checkOutLocal();
        seLectTionHeader();
        cateGorySile();
    </script>
</body>
</html>