<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour Du Lịch Hàng Đầu VIệt Nam</title>
    <link rel="stylesheet" href="https://pagecdn.io/lib/normalize/8.0.1/normalize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <link rel="shortcut icon" href="../Content/IMG/BG/logo.png">
    <link rel="stylesheet" href="../Content/CSS/grid.css">
    <link rel="stylesheet" href="../Content/CSS/base.css">
    <link rel="stylesheet" href="../Content/CSS/main.css">
    <link rel="stylesheet" href="../Content/CSS/layout.css">
    <link rel="stylesheet" href="../Content/CSS/responsive.css">
</head>
<body>
    <div class="container">
        <!-- Header -->
        <header class="header">
            <div class="grid header__container">
                <!-- Header Top -->
                <div class="header__top">
                    <div class="header__top-logo">
                        <a href="../index.html" class="header__top-logo--link">
                            <img src="../Content/IMG/BG/Untitled-2.png" alt="" class="header__top-logo-img">
                        </a>
                    </div>

                    <div class="header__top-right">
                        <!-- Nav Bar PC-->
                        <nav class="header__top-navbar">
                            <ul class="header__top-list">
                                <li class="header__top-item">
                                    <a href="#" class="header__top-link">
                                        Du lịch
                                        <i class="header__top-link--icon"><ion-icon name="arrow-dropdown"></ion-icon></i>
                                    </a>
                                    <!-- Sub Nav -->
                                    <div class="header__top-subnav--tour">
                                        <div class="grid wide">
                                            <div class="row">
                                                <div class="col l-3 subnav-tour__block">
                                                    <h3 class="subnav-tour__text-heading">TOUR MIỀN BẮC</h3>
                                                    <ul class="subnav-tour__list">
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hà Nội</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hải Phòng</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hà Giang</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Bắc Ninh</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hạ Long</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link subnav-tour__link--text-decoration">Xem tất cả</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col l-3 subnav-tour__block">
                                                    <h3 class="subnav-tour__text-heading">TOUR MIỀN BẮC</h3>
                                                    <ul class="subnav-tour__list">
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hà Nội</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hải Phòng</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hà Giang</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Bắc Ninh</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hạ Long</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link subnav-tour__link--text-decoration">Xem tất cả</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col l-3 subnav-tour__block">
                                                    <h3 class="subnav-tour__text-heading">TOUR MIỀN BẮC</h3>
                                                    <ul class="subnav-tour__list">
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hà Nội</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hải Phòng</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hà Giang</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Bắc Ninh</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hạ Long</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link subnav-tour__link--text-decoration">Xem tất cả</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col l-3 subnav-tour__block">
                                                    <h3 class="subnav-tour__text-heading">TOUR MIỀN BẮC</h3>
                                                    <ul class="subnav-tour__list">
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hà Nội</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hải Phòng</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hà Giang</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Bắc Ninh</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hạ Long</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link subnav-tour__link--text-decoration">Xem tất cả</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </li>
                                <li class="header__top-item">
                                    <a href="#" class="header__top-link">
                                        Tin tức
                                        <i class="header__top-link--icon"><ion-icon name="arrow-dropdown"></ion-icon></i>
                                    </a>
                                    <!-- SubNav News -->
                                    <ul class="subnav-news__list">
                                        <li class="subnav-news__item">
                                            <a href="../layout/newsList.html" class="subnav-news__link">Tin tức du lịch</a>
                                        </li>
                                        <li class="subnav-news__item">
                                            <a href="../layout/newsList.html" class="subnav-news__link">Cẩm nang du lịch</a>
                                        </li>
                                        <li class="subnav-news__item">
                                            <a href="../layout/newsList.html" class="subnav-news__link">Kinh nghiệm du lịch</a>
                                        </li>
                                    </ul>

                                </li>
                                <li class="header__top-item">
                                    <a href="../layout/introduce.html" class="header__top-link">Giới thiệu</a>
                                </li>
                                <li class="header__top-item">
                                    <a href="../layout/hotLine.html" class="header__top-link">Liên hệ</a>
                                </li>
                            </ul>
                        </nav>

                        <!-- Input & Icon Login -->
                        <div class="header__top-width-search">
                            <form method="post" id="formSearchHeader">
                                <div class="header__top-search">
                                    <input type="text" class="header__top-search--control" placeholder="Bắt đầu tìm kiếm...">
                                    <!-- <input type="submit" class="header__top-search--box" value> -->
                                    <button class="header__top-search--box">
                                        <i class="header__top-search--icon"><ion-icon name="search"></ion-icon></i>
                                    </button>
                                </div>
                            </form>

                            <div class="header__top-login">
                                <a href="" class="header__top-login--link">
                                    <i class="header__top-login--icon"><ion-icon name="contacts"></ion-icon></i>
                                </a>
                            </div>
                        </div>

                        <!-- Icon Check Nav Mobile -->
                        <label for="checkNavMobile" class="header__top-mobile--check">
                            <i class="header__top-mobile--icon"><ion-icon name="menu"></ion-icon></i>
                        </label>
                        <input type="checkbox" name="" id="checkNavMobile" class="header__top-mobile--checkbox">

                        <!-- Menu Mobile -->
                        <nav class="header__top-mobile--nav">
                            <!-- Icon Close -->
                            <label for="checkNavMobile" class="header__top-mobile--nav-label">
                                <i class="header__top-mobile--nav-icon--close"><ion-icon name="close"></ion-icon></i>
                            </label>

                            <!-- List -->
                            <ul class="header__top-mobile--list">
                                <li class="header__top-mobile--item">
                                    <div  class="header__top-mobile--link">
                                        <label for="checkSubNav" class="header__top-mobile--label">
                                            Du lịch
                                            <i class="header__top-link--icon"><ion-icon name="arrow-dropdown"></ion-icon></i>
                                        </label>
                                        <input type="checkbox" name="" hidden id="checkSubNav" class="sub-nav__mobile-checkbox">
                                        <div class="sub-nav__mobile sub-nav__mobile-tour">
                                            <div class="grid"> 
                                                <div class="row">
                                                    <div class="col m-6">
                                                        <ul class="sub-nav__mobile-list">
                                                            <h5 class="sub-nav__mobile-text--heading">TOUR MIỀN BẮC</h5>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Bắc Ninh</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Bắc Ninh</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Hà Giang</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Phú Thọ</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="subnav-tour__link--text-decoration">Xem thêm</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col m-6">
                                                        <ul class="sub-nav__mobile-list">
                                                            <h5 class="sub-nav__mobile-text--heading">TOUR MIỀN BẮC</h5>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Bắc Ninh</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Bắc Ninh</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Hà Giang</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Phú Thọ</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="subnav-tour__link--text-decoration">Xem thêm</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col m-6">
                                                        <ul class="sub-nav__mobile-list">
                                                            <h5 class="sub-nav__mobile-text--heading">TOUR MIỀN BẮC</h5>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Bắc Ninh</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Bắc Ninh</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Hà Giang</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Phú Thọ</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="subnav-tour__link--text-decoration">Xem thêm</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col m-6">
                                                        <ul class="sub-nav__mobile-list">
                                                            <h5 class="sub-nav__mobile-text--heading">TOUR MIỀN BẮC</h5>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Bắc Ninh</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Bắc Ninh</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Hà Giang</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Phú Thọ</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="subnav-tour__link--text-decoration">Xem thêm</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="header__top-mobile--item">
                                    <div class="header__top-mobile--link">
                                        <label for="checkSubNav-news" class="header__top-mobile--label">
                                            Tin tức
                                            <i class="header__top-link--icon"><ion-icon name="arrow-dropdown"></ion-icon></i>
                                        </label>
                                        <!-- List -->
                                        <input type="checkbox" name="" hidden id="checkSubNav-news" class="sub-nav__mobile-checkbox-news">
                                        <div class="sub-nav__mobile sub-nav__mobile-news">
                                            <ul class="sub-nav__mobile-list">
                                                <li class="sub-nav__mobile-item">
                                                    <a href="../layout/newsList.html" class="sub-nav__mobile-link">Tin tức du lịch</a>
                                                </li>
                                                <li class="sub-nav__mobile-item">
                                                    <a href="../layout/newsList.html" class="sub-nav__mobile-link">Cẩm nang du lịch</a>
                                                </li>
                                                <li class="sub-nav__mobile-item">
                                                    <a href="../layout/newsList.html" class="sub-nav__mobile-link">Kinh nghiệm du lịch</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="header__top-mobile--item">
                                    <a href="../layout/introduce.html" class="header__top-mobile--link">Giới thiệu</a>
                                </li>
                                <li class="header__top-mobile--item">
                                    <a href="../layout/hotLine.html" class="header__top-mobile--link">Liên Hệ</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <!-- Main -->
        <main>
            <!-- List Tour Cate -->
            <div class="grid wide">
                <div class="row content__block">
                    <div class="col l-8">
                        <div class="news__content-block">
                            <div class="news__content-heading">
                                <h1>3 địa điểm du lịch Bến Tre vui chơi cả ngày không chán</h1>
                                <div class="news__content-heading--info">
                                    <p>Cẩm nang du lịch</p>
                                    <span>- 12/11/2021</span>
                                </div>
                            </div>

                            <div class="news__content-body">
                                <p class="news__content-body--overview">
                                    Bến Tre nổi tiếng là “xứ dừa” trong huyền thoại, nay cũng là điểm du lịch được nhiều du khách chốn 
                                    thị thành tìm về mỗi dịp cuối tuần. Tại đây có nhiều khu vui chơi, du lịch sinh thái mà bạn có thể khám 
                                    phá cả ngày không chán, điển hình là khu du lịch Lan Vương, Cồn Phụng, Làng Bè.
                                </p>
                                <div class="news__content-body--details">
                                    <h2>Địa điểm du lịch Bến Tre Lan Vương</h2>
                                    <img src="../Content/IMG/Tour/hanoi.jpg" alt="">
                                    <p>
                                        Khu du lịch Lan Vương hiện đang là một địa điểm tham quan và vui chơi cực “hot” tại Bến Tre. Được mệnh 
                                        danh là một “miền Tây thu nhỏ”, khu du lịch Bến Tre Lan Vương còn thu hút du khách không bởi bầu không khí trong lành.
                                    </p>

                                    <p>
                                        Cồn Phụng cũng là một trong những địa điểm tham quan không thể bỏ lỡ của nhiều du khách khi đi du lịch Bến Tre. 
                                        Đây được xem là nơi dầu tiên khai thác thân cây dừa, đưa danh diếng nghề mỹ nghệ dừa đến nhiều nơi, làm cho 
                                        “xứ dừa Bến Tre” nổi tiếng hơn trên bản đồ du lịch Việt Nam. Do đó, khi du lịch Bến Tre đến với Cồn Phụng bạn nên đến các 
                                        làng nghề để có cơ hội tìm hiểu con người, cuộc sống và văn hóa xứ dừa tại Bảo tàng Dừa, là một ngôi nhà được làm hoàn toàn 
                                        từ thân cây dừa cùng hàng trăm sản phẩm thủ công mỹ nghệ tinh xảo, bắt mắt và mang đậm giá trị nghệ thuật.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col l-4 content__block">
                        <div class="news__new">
                            <h2 class="news__new-heading">Tin mới nhất</h2>
                            <ul class="news__new-list">
                                <li class="news__new-item">
                                    <a href="" class="news__new-link">Du lịch miền Tây mùa nước nổi săn các sản vật đồng quê</a>
                                </li>
                                <li class="news__new-item">
                                    <a href="" class="news__new-link">Hành trình du lịch Nhật Bản mùa lá đỏ quyến rũ</a>
                                </li>
                                <li class="news__new-item">
                                    <a href="" class="news__new-link">Kinh nghiệm du lịch Đà Lạt mùa hoa dã quỳ khoe sắc</a>
                                </li>
                                <li class="news__new-item">
                                    <a href="" class="news__new-link">Tháng 11 12 đi du lịch ở đâu? Top 10 điển đến hot cuối năm</a>
                                </li>
                                <li class="news__new-item">
                                    <a href="" class="news__new-link">Khám phá Việt Nam, du lịch mùa thu ở đâu đẹp?</a>
                                </li>
                                <li class="news__new-item">
                                    <a href="" class="news__new-link">5 món ngon ngỡ lạ mà quen của Quy Nhơn</a>
                                </li>
                                <li class="news__new-item">
                                    <a href="" class="news__new-link">Du lịch Lăng Cô thưởng thức những món ngon nào?</a>
                                </li>
                                <li class="news__new-item">
                                    <a href="" class="news__new-link">Thiên đường tuyệt sắc Cửu Trại Câu</a>
                                </li>
                                <li class="news__new-item">
                                    <a href="" class="news__new-link">Du lịch Quảng Bình trải nghiệm thám hiểm hệ thống hang Tú Làn</a>
                                </li>
                                <li class="news__new-item">
                                    <a href="" class="news__new-link">Kinh nghiệm du lịch Đồng Tháp trong 48 giờ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </main>

        <!-- Footer -->
        <footer>
            <!-- Footer Top -->
            <div class="footer__top">
                <div class="grid wide">
                    <div class="row">
                        <div class="col l-3 m-4 c-6">
                            <div class="footer__top-item">
                                <div class="footer__text-heading">
                                    <h4>Liên Hệ</h4>
                                </div>
                                <p class="footer__top-text--content">379, Nguyễn Văn Linh, Phường Long Tuyền, Quận Bình Thủy, TP Cần Thơ</p>
                                <p class="footer__top-text--content">(+84 28) 74821032</p>
                                <p class="footer__top-text--content">(+84 28) 39123123</p>
                                <p class="footer__top-text--content">@tourvn.com.vn</p>
                            </div>
                        </div>

                        <div class="col l-3 m-4 c-6">
                            <div class="footer__top-item">
                                <div class="footer__text-heading">
                                    <h4>Thông tin</h4>
                                </div>
                                <p class="footer__top-text--content">Thành lập ngày 18/9/2002</p>
                                <p class="footer__top-text--content">Chất lượng phục vụ là mục tiêu hàng đầu</p>
                                <p class="footer__top-text--content">Tổng đài Hotline 24/7</p>
                            </div>
                        </div>

                        <div class="col l-3 m-4 c-6">
                            <div class="footer__top-item">
                                <div class="footer__text-heading">
                                    <h4>Dịch vụ</h4>
                                </div>
                                <p class="footer__top-text--content">Đa dạng loại tour, đạt chất lượng tốt nhất</p>
                                <p class="footer__top-text--content">Hỗ trợ hoàn trả vé niếu khách hàng không hài lòng</p>
                                <p class="footer__top-text--content">Đặt tour nhanh chống dễ dàng</p>
                                <p class="footer__top-text--content">Bảo đảm mức giá tốt nhất</p>
                            </div>
                        </div>

                        <div class="col l-3 m-4 c-6">
                            <div class="footer__top-item">
                                <div class="footer__text-heading">
                                    <h4>Thanh toán</h4>
                                </div>
                                <div class="footer__top-img--group">
                                    <img src="../Content/IMG/BG/123pay.png" alt="" class="footer__top-img-item">
                                    <img src="../Content/IMG/BG/jcb.png" alt="" class="footer__top-img-item">
                                    <img src="../Content/IMG/BG/mattercard.png" alt="" class="footer__top-img-item">
                                    <img src="../Content/IMG/BG/verifined.png" alt="" class="footer__top-img-item">
                                    <img src="../Content/IMG/BG/visa.png" alt="" class="footer__top-img-item">
                                    <img src="../Content/IMG/BG/vnpay.png" alt="" class="footer__top-img-item">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col l-3 m-4 c-6">
                            <div class="footer__top-item">
                                <div class="footer__text-heading">
                                    <h4>Mạng Xã Hội</h4>
                                </div>
                                <ul class="footer__social-list">
                                    <li class="footer__social-item">
                                        <a href="" class="footer__social-link">
                                            <i class="footer__social-icon"><ion-icon name="logo-facebook"></ion-icon></i>
                                        </a>
                                    </li>
                                    <li class="footer__social-item">
                                        <a href="" class="footer__social-link">
                                            <i class="footer__social-icon"><ion-icon name="logo-instagram"></ion-icon></i>
                                        </a>
                                    </li>
                                    <li class="footer__social-item">
                                        <a href="" class="footer__social-link">
                                            <i class="footer__social-icon"><ion-icon name="logo-whatsapp"></ion-icon></i>
                                        </a>
                                    </li>
                                    <li class="footer__social-item">
                                        <a href="" class="footer__social-link">
                                            <i class="footer__social-icon"><ion-icon name="logo-youtube"></ion-icon></i>
                                        </a>
                                    </li>
                                    <li class="footer__social-item">
                                        <a href="" class="footer__social-link">
                                            <i class="footer__social-icon"><ion-icon name="logo-sass"></ion-icon></i>
                                        </a>
                                    </li>
                                </ul>

                                <div class="footer__top-hotline">
                                    <a href="" class="footer__top-hotline--link">
                                        <i class="footer__top-hotline--icon"><ion-icon name="call"></ion-icon></i>
                                        1900 1389
                                    </a>
                                </div>

                                <p class="footer__top-text--content">Tư vấn hotline 27/7</p>

                            </div>
                        </div>

                        <div class="col l-9 m-12 c-12">
                            <div class="footer__text-heading">
                                <h4>Địa Chỉ Trụ Sở</h4>
                            </div>
                            <div class="footer__top-map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d450.335639392406!2d105.74423887093945!3d10.036991250892353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a0886654934019%3A0x3dcdae77f5d0f30b!2zUXXDoW4gQ8ahbSBHw6AgWOG7kWkgTeG7oSBUaMOgbmggxJDhuqF0IDI!5e0!3m2!1svi!2s!4v1636857389378!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer Bottom -->
            <div class="footer__bottom">
                <div class="grid wide">
                    <div class="row">
                        <div class="col l-12">
                            <div class="footer__bottom-coppy-right">
                                <p>Bản quyền của Tour VN ® 2019. Bảo lưu mọi quyền.</p>
                                <p>Ghi rõ nguồn "www.TourVN.com.vn" ® khi sử dụng lại thông tin từ website này.</p>
                                <p>Số giấy phép kinh doanh lữ hành Quốc tế: 79-234/2014/TCDL-GP LHQT.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="./Content/JS/js.js"></script>
</body>
</html>