<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour Du Lịch Hàng Đầu VIệt Nam</title>
    <link rel="stylesheet" href="https://pagecdn.io/lib/normalize/8.0.1/normalize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <link rel="shortcut icon" href="../Content/IMG/BG/logo.png">
    <link rel="stylesheet" href="../Content/CSS/grid.css">
    <link rel="stylesheet" href="../Content/CSS/base.css">
    <link rel="stylesheet" href="../Content/CSS/main.css">
    <link rel="stylesheet" href="../Content/CSS/layout.css">
    <link rel="stylesheet" href="../Content/CSS/responsive.css">
</head>
<body>
    <div class="container">
        <!-- Header -->
        <header class="header">
            <div class="grid header__container">
                <!-- Header Top -->
                <div class="header__top">
                    <div class="header__top-logo">
                        <a href="../index.html" class="header__top-logo--link">
                            <img src="../Content/IMG/BG/Untitled-2.png" alt="" class="header__top-logo-img">
                        </a>
                    </div>

                    <div class="header__top-right">
                        <!-- Nav Bar PC-->
                        <nav class="header__top-navbar">
                            <ul class="header__top-list">
                                <li class="header__top-item">
                                    <a href="#" class="header__top-link">
                                        Du lịch
                                        <i class="header__top-link--icon"><ion-icon name="arrow-dropdown"></ion-icon></i>
                                    </a>
                                    <!-- Sub Nav -->
                                    <div class="header__top-subnav--tour">
                                        <div class="grid wide">
                                            <div class="row">
                                                <div class="col l-3 subnav-tour__block">
                                                    <h3 class="subnav-tour__text-heading">TOUR MIỀN BẮC</h3>
                                                    <ul class="subnav-tour__list">
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hà Nội</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hải Phòng</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hà Giang</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Bắc Ninh</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hạ Long</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link subnav-tour__link--text-decoration">Xem tất cả</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col l-3 subnav-tour__block">
                                                    <h3 class="subnav-tour__text-heading">TOUR MIỀN BẮC</h3>
                                                    <ul class="subnav-tour__list">
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hà Nội</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hải Phòng</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hà Giang</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Bắc Ninh</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hạ Long</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link subnav-tour__link--text-decoration">Xem tất cả</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col l-3 subnav-tour__block">
                                                    <h3 class="subnav-tour__text-heading">TOUR MIỀN BẮC</h3>
                                                    <ul class="subnav-tour__list">
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hà Nội</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hải Phòng</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hà Giang</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Bắc Ninh</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hạ Long</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link subnav-tour__link--text-decoration">Xem tất cả</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col l-3 subnav-tour__block">
                                                    <h3 class="subnav-tour__text-heading">TOUR MIỀN BẮC</h3>
                                                    <ul class="subnav-tour__list">
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hà Nội</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hải Phòng</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hà Giang</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Bắc Ninh</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link">Du lịch Hạ Long</a>
                                                        </li>
                                                        <li class="subnav-tour__item">
                                                            <a href="../layout/listTour.html" class="subnav-tour__link subnav-tour__link--text-decoration">Xem tất cả</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </li>
                                <li class="header__top-item">
                                    <a href="#" class="header__top-link">
                                        Tin tức
                                        <i class="header__top-link--icon"><ion-icon name="arrow-dropdown"></ion-icon></i>
                                    </a>
                                    <!-- SubNav News -->
                                    <ul class="subnav-news__list">
                                        <li class="subnav-news__item">
                                            <a href="../layout/newsList.html" class="subnav-news__link">Tin tức du lịch</a>
                                        </li>
                                        <li class="subnav-news__item">
                                            <a href="../layout/newsList.html" class="subnav-news__link">Cẩm nang du lịch</a>
                                        </li>
                                        <li class="subnav-news__item">
                                            <a href="../layout/newsList.html" class="subnav-news__link">Kinh nghiệm du lịch</a>
                                        </li>
                                    </ul>

                                </li>
                                <li class="header__top-item">
                                    <a href="../layout/introduce.html" class="header__top-link">Giới thiệu</a>
                                </li>
                                <li class="header__top-item">
                                    <a href="../layout/hotLine.html" class="header__top-link">Liên hệ</a>
                                </li>
                            </ul>
                        </nav>

                        <!-- Input & Icon Login -->
                        <div class="header__top-width-search">
                            <form method="post" id="formSearchHeader">
                                <div class="header__top-search">
                                    <input type="text" class="header__top-search--control" placeholder="Bắt đầu tìm kiếm...">
                                    <!-- <input type="submit" class="header__top-search--box" value> -->
                                    <button class="header__top-search--box">
                                        <i class="header__top-search--icon"><ion-icon name="search"></ion-icon></i>
                                    </button>
                                </div>
                            </form>

                            <div class="header__top-login">
                                <a href="" class="header__top-login--link">
                                    <i class="header__top-login--icon"><ion-icon name="contacts"></ion-icon></i>
                                </a>
                            </div>
                        </div>

                        <!-- Icon Check Nav Mobile -->
                        <label for="checkNavMobile" class="header__top-mobile--check">
                            <i class="header__top-mobile--icon"><ion-icon name="menu"></ion-icon></i>
                        </label>
                        <input type="checkbox" name="" id="checkNavMobile" class="header__top-mobile--checkbox">

                        <!-- Menu Mobile -->
                        <nav class="header__top-mobile--nav">
                            <!-- Icon Close -->
                            <label for="checkNavMobile" class="header__top-mobile--nav-label">
                                <i class="header__top-mobile--nav-icon--close"><ion-icon name="close"></ion-icon></i>
                            </label>

                            <!-- List -->
                            <ul class="header__top-mobile--list">
                                <li class="header__top-mobile--item">
                                    <div  class="header__top-mobile--link">
                                        <label for="checkSubNav" class="header__top-mobile--label">
                                            Du lịch
                                            <i class="header__top-link--icon"><ion-icon name="arrow-dropdown"></ion-icon></i>
                                        </label>
                                        <input type="checkbox" name="" hidden id="checkSubNav" class="sub-nav__mobile-checkbox">
                                        <div class="sub-nav__mobile sub-nav__mobile-tour">
                                            <div class="grid"> 
                                                <div class="row">
                                                    <div class="col m-6">
                                                        <ul class="sub-nav__mobile-list">
                                                            <h5 class="sub-nav__mobile-text--heading">TOUR MIỀN BẮC</h5>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Bắc Ninh</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Bắc Ninh</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Hà Giang</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Phú Thọ</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="subnav-tour__link--text-decoration">Xem thêm</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col m-6">
                                                        <ul class="sub-nav__mobile-list">
                                                            <h5 class="sub-nav__mobile-text--heading">TOUR MIỀN BẮC</h5>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Bắc Ninh</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Bắc Ninh</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Hà Giang</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Phú Thọ</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="subnav-tour__link--text-decoration">Xem thêm</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col m-6">
                                                        <ul class="sub-nav__mobile-list">
                                                            <h5 class="sub-nav__mobile-text--heading">TOUR MIỀN BẮC</h5>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Bắc Ninh</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Bắc Ninh</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Hà Giang</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Phú Thọ</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="subnav-tour__link--text-decoration">Xem thêm</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col m-6">
                                                        <ul class="sub-nav__mobile-list">
                                                            <h5 class="sub-nav__mobile-text--heading">TOUR MIỀN BẮC</h5>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Bắc Ninh</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Bắc Ninh</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Hà Giang</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="sub-nav__mobile-link">Du lịch Phú Thọ</a>
                                                            </li>
                                                            <li class="sub-nav__mobile-item">
                                                                <a href="../layout/listTour.html" class="subnav-tour__link--text-decoration">Xem thêm</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="header__top-mobile--item">
                                    <div class="header__top-mobile--link">
                                        <label for="checkSubNav-news" class="header__top-mobile--label">
                                            Tin tức
                                            <i class="header__top-link--icon"><ion-icon name="arrow-dropdown"></ion-icon></i>
                                        </label>
                                        <!-- List -->
                                        <input type="checkbox" name="" hidden id="checkSubNav-news" class="sub-nav__mobile-checkbox-news">
                                        <div class="sub-nav__mobile sub-nav__mobile-news">
                                            <ul class="sub-nav__mobile-list">
                                                <li class="sub-nav__mobile-item">
                                                    <a href="../layout/newsList.html" class="sub-nav__mobile-link">Tin tức du lịch</a>
                                                </li>
                                                <li class="sub-nav__mobile-item">
                                                    <a href="../layout/newsList.html" class="sub-nav__mobile-link">Cẩm nang du lịch</a>
                                                </li>
                                                <li class="sub-nav__mobile-item">
                                                    <a href="../layout/newsList.html" class="sub-nav__mobile-link">Kinh nghiệm du lịch</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="header__top-mobile--item">
                                    <a href="../layout/introduce.html" class="header__top-mobile--link">Giới thiệu</a>
                                </li>
                                <li class="header__top-mobile--item">
                                    <a href="../layout/hotLine.html" class="header__top-mobile--link">Liên Hệ</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main -->
        <main>
            <!-- List News -->
            <div class="grid wide">
                <div class="row content__block news__heading">
                    <!-- News Heading -->
                    <div class="col l-4">
                        <div class="news__heading-item">
                            <a href="" class="news__heading-item--name">Tin tức du lịch</a>
                        </div>
                    </div>
                    <div class="col l-4">
                        <div class="news__heading-item">
                            <a href="#" class="news__heading-item--name active">Cẩm Nang du lịch</a>
                        </div>
                    </div>
                    <div class="col l-4">
                        <div class="news__heading-item">
                            <a href="" class="news__heading-item--name">Kinh nghiệm du lịch</a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col l-12">
                        <div class="news__content-item">
                            <div class="gird">
                                <div class="row">
                                    <div class="col l-4">
                                        <a href="./newsDeatails.html"class="news__content-item--image">
                                            <img src="../Content/IMG/Tour/dalat.jpg" alt="" class="news__content-item--img">
                                        </a>
                                    </div>

                                    <div class="col l-8">
                                        <div class="news__content-item--info">
                                            <a href="./newsDeatails.html" class="news__content-item--info-name">
                                                <h1>Tháng 11 12 đi du lịch ở đâu? Top 10 điển đến hot cuối năm</h1>
                                            </a>

                                            <div class="news__content-item--info-sub">
                                                <span class="news__content-item--sub-category">Cẩm nang du lịch</span>
                                                <p class="news__content-item--sub-date">- 17/11/2021</p>
                                            </div>

                                            <div class="news__content-item--info-overview">
                                                <p>
                                                    Khi những cơn gió lạnh đầu đông tràn về cũng là lúc du lịch trong nước trở nên sôi động hơn. 
                                                Khắp nơi mọi trên dãy đất hình chữ S Việt Nam khoác lên mình chiếc áo mới đẹp lạ kỳ. Và nếu bạn 
                                                vẫn đang băn khoăn tìm kiếm một địa điểm du lịch thú vị vào dịp cuối năm tháng 11 12 này, đừng bỏ lỡ top 10 sau đây nhé!
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col l-12">
                        <div class="news__content-item">
                            <div class="gird">
                                <div class="row">
                                    <div class="col l-4">
                                        <a href="./newsDeatails.html"class="news__content-item--image">
                                            <img src="../Content/IMG/Tour/baclieu.jpg" alt="" class="news__content-item--img">
                                        </a>
                                    </div>

                                    <div class="col l-8">
                                        <div class="news__content-item--info">
                                            <a href="./newsDeatails.html" class="news__content-item--info-name">
                                                <h1>Du lịch Tây Bắc tháng 11 nên đi đâu và trải nghiệm gì?</h1>
                                            </a>

                                            <div class="news__content-item--info-sub">
                                                <span class="news__content-item--sub-category">Cẩm nang du lịch</span>
                                                <p class="news__content-item--sub-date">- 17/11/2021</p>
                                            </div>

                                            <div class="news__content-item--info-overview">
                                                <p>
                                                    Tháng 11, những ngày gió đông bắt đầu chạm ngõ, có lẽ ngoài Hà Nội thì các điểm đến 
                                                    của du lịch Tây Bắc là điều đầu tiên khiến những “đôi chân xê dịch” nghĩ đến đầu tiên. 
                                                    Và vẻ đẹp của Mộc Châu mùa hoa cải, biển mây ở Tà Xùa, Sapa hay vườn hoa mai anh đào Điện Biên… luôn làm người ta háo hức.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col l-12">
                        <div class="news__content-item">
                            <div class="gird">
                                <div class="row">
                                    <div class="col l-4">
                                        <a href="./newsDeatails.html"class="news__content-item--image">
                                            <img src="../Content/IMG/Tour/condao.jpg" alt="" class="news__content-item--img">
                                        </a>
                                    </div>

                                    <div class="col l-8">
                                        <div class="news__content-item--info">
                                            <a href="./newsDeatails.html" class="news__content-item--info-name">
                                                <h1>3 địa điểm du lịch Bến Tre vui chơi cả ngày không chán</h1>
                                            </a>

                                            <div class="news__content-item--info-sub">
                                                <span class="news__content-item--sub-category">Cẩm nang du lịch</span>
                                                <p class="news__content-item--sub-date">- 17/11/2021</p>
                                            </div>

                                            <div class="news__content-item--info-overview">
                                                <p>
                                                    Bến Tre nổi tiếng là “xứ dừa” trong huyền thoại, nay cũng là điểm du lịch được 
                                                    nhiều du khách chốn thị thành tìm về mỗi dịp cuối tuần. Tại đây có nhiều khu vui chơi,
                                                    du lịch sinh thái mà bạn có thể khám phá cả ngày không chán, điển hình là khu du lịch Lan Vương, Cồn Phụng, Làng Bè.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col l-12">
                        <div class="news__content-item">
                            <div class="gird">
                                <div class="row">
                                    <div class="col l-4">
                                        <a href="./newsDeatails.html"class="news__content-item--image">
                                            <img src="../Content/IMG/Tour/danang.jpg" alt="" class="news__content-item--img">
                                        </a>
                                    </div>

                                    <div class="col l-8">
                                        <div class="news__content-item--info">
                                            <a href="./newsDeatails.html" class="news__content-item--info-name">
                                                <h1>Du lịch Phú Quốc trọn gói tận hưởng kì nghỉ 5 sao</h1>
                                            </a>

                                            <div class="news__content-item--info-sub">
                                                <span class="news__content-item--sub-category">Cẩm nang du lịch</span>
                                                <p class="news__content-item--sub-date">- 17/11/2021</p>
                                            </div>

                                            <div class="news__content-item--info-overview">
                                                <p>
                                                    Phú Quốc luôn biết cách thu hút khách du lịch với bờ biển trong xanh yêu 
                                                    kiều cùng nét đẹp quyến rũ do thiên nhiên ban tặng và những trải nghiệm 
                                                    thú vị mà không nơi nào có được. Tháng 11 này, đừng quên rủ hội bạn thân 
                                                    đi du lịch Phú Quốc trọn gói tận hưởng kì nghỉ tại khách sạn 5 sao với các gợi ý thú vị này nhé.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col l-12">
                        <div class="news__content-item">
                            <div class="gird">
                                <div class="row">
                                    <div class="col l-4">
                                        <a href="./newsDeatails.html"class="news__content-item--image">
                                            <img src="../Content/IMG/Tour/dongthap.jpg" alt="" class="news__content-item--img">
                                        </a>
                                    </div>

                                    <div class="col l-8">
                                        <div class="news__content-item--info">
                                            <a href="./newsDeatails.html" class="news__content-item--info-name">
                                                <h1>Du lịch miền Tây mùa nước nổi săn các sản vật đồng quê</h1>
                                            </a>

                                            <div class="news__content-item--info-sub">
                                                <span class="news__content-item--sub-category">Cẩm nang du lịch</span>
                                                <p class="news__content-item--sub-date">- 17/11/2021</p>
                                            </div>

                                            <div class="news__content-item--info-overview">
                                                <p>
                                                    Khi cái gay gắt của nắng hạ không còn thiêu đốt cũng là lúc miền Tây bước vào mùa 
                                                    nước nổi mang theo những sản vật có một không hai. Những cung đường ruộng nước như 
                                                    được khoác lên lớp áo mới màu bàng bạc, lóng lánh và cứ thế những tour du lịch miền 
                                                    Tây mùa nước nổi lại trở nên "hot" hơn bao giờ hết.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col l-12">
                        <div class="news__content-item">
                            <div class="gird">
                                <div class="row">
                                    <div class="col l-4">
                                        <a href="./newsDeatails.html"class="news__content-item--image">
                                            <img src="../Content/IMG/Tour/mientrung.jpg" alt="" class="news__content-item--img">
                                        </a>
                                    </div>

                                    <div class="col l-8">
                                        <div class="news__content-item--info">
                                            <a href="./newsDeatails.html" class="news__content-item--info-name">
                                                <h1>Hành trình du lịch Nhật Bản mùa lá đỏ quyến rũ</h1>
                                            </a>

                                            <div class="news__content-item--info-sub">
                                                <span class="news__content-item--sub-category">Cẩm nang du lịch</span>
                                                <p class="news__content-item--sub-date">- 17/11/2021</p>
                                            </div>

                                            <div class="news__content-item--info-overview">
                                                <p>
                                                    Cùng vẻ đẹp cổ kính của những di sản văn hóa lừng danh, du lịch 
                                                    Nhật Bản mùa thu còn khiến người lữ khách rung động bởi sự thay đổi diệu kỳ của thiên
                                                     nhiên với những tán lá xanh bắt đầu chuyển sang sắc đỏ, sắc vàng làm mê đắm lòng người.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col l-12">
                        <div class="news__content-item">
                            <div class="gird">
                                <div class="row">
                                    <div class="col l-4">
                                        <a href="./newsDeatails.html"class="news__content-item--image">
                                            <img src="../Content/IMG/Tour/halong.jpg" alt="" class="news__content-item--img">
                                        </a>
                                    </div>

                                    <div class="col l-8">
                                        <div class="news__content-item--info">
                                            <a href="./newsDeatails.html" class="news__content-item--info-name">
                                                <h1>Kinh nghiệm du lịch Đà Lạt mùa hoa dã quỳ khoe sắc</h1>
                                            </a>

                                            <div class="news__content-item--info-sub">
                                                <span class="news__content-item--sub-category">Cẩm nang du lịch</span>
                                                <p class="news__content-item--sub-date">- 17/11/2021</p>
                                            </div>

                                            <div class="news__content-item--info-overview">
                                                <p>
                                                    Khi những cơn mưa “lặng lẽ” rời đi, trả lại nắng vàng cho Đà Lạt cũng là lúc thành phố mù 
                                                    sương khoác lên mình chiếc áo rực rỡ của những màu hoa, nổi bật là sắc vàng mùa hoa dã quỳ. 
                                                    Du lịch Đà Lạt mùa này rất tuyệt, bạn không chỉ được ngắm hoa mà còn được săn mây, chill cùng núi rừng Tây Nguyên gió lộng…
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col l-12">
                        <div class="news__content-item">
                            <div class="gird">
                                <div class="row">
                                    <div class="col l-4">
                                        <a href="./newsDeatails.html"class="news__content-item--image">
                                            <img src="../Content/IMG/Tour/hanoi.jpg" alt="" class="news__content-item--img">
                                        </a>
                                    </div>

                                    <div class="col l-8">
                                        <div class="news__content-item--info">
                                            <a href="./newsDeatails.html" class="news__content-item--info-name">
                                                <h1>Khám phá Việt Nam, du lịch mùa thu ở đâu đẹp?</h1>
                                            </a>

                                            <div class="news__content-item--info-sub">
                                                <span class="news__content-item--sub-category">Cẩm nang du lịch</span>
                                                <p class="news__content-item--sub-date">- 17/11/2021</p>
                                            </div>

                                            <div class="news__content-item--info-overview">
                                                <p>
                                                    Không nóng bức và oi ả như mùa hạ, cũng không lạnh lẽo như mùa đông, có lẽ mùa thu là mùa được nhiều 
                                                    người yêu thích nhất ở Việt Nam. Mùa này Hà Giang, Đà Lạt... còn trở nên đẹp hơn bởi các loài hoa.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col l-12">
                        <div class="news__content-item">
                            <div class="gird">
                                <div class="row">
                                    <div class="col l-4">
                                        <a href="./newsDeatails.html"class="news__content-item--image">
                                            <img src="../Content/IMG/Tour/honson.jpg" alt="" class="news__content-item--img">
                                        </a>
                                    </div>

                                    <div class="col l-8">
                                        <div class="news__content-item--info">
                                            <a href="./newsDeatails.html" class="news__content-item--info-name">
                                                <h1>Khám phá gì ở Đức sau khi du lịch nước ngoài mở cửa?</h1>
                                            </a>

                                            <div class="news__content-item--info-sub">
                                                <span class="news__content-item--sub-category">Cẩm nang du lịch</span>
                                                <p class="news__content-item--sub-date">- 17/11/2021</p>
                                            </div>

                                            <div class="news__content-item--info-overview">
                                                <p>
                                                    Đức nổi tiếng là một trong các quốc gia ở Châu Âu có nhiều tòa lâu đài cổ, 
                                                    công trình lịch sử tuyệt đẹp và phong cảnh nên thơ. Khi du lịch Đức bạn nhất định đừng
                                                     quên khám phá 5 địa điểm này nha.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col l-12">
                        <div class="news__content-item">
                            <div class="gird">
                                <div class="row">
                                    <div class="col l-4">
                                        <a href="./newsDeatails.html"class="news__content-item--image">
                                            <img src="../Content/IMG/Tour/ninhthuan.jpg" alt="" class="news__content-item--img">
                                        </a>
                                    </div>

                                    <div class="col l-8">
                                        <div class="news__content-item--info">
                                            <a href="./newsDeatails.html" class="news__content-item--info-name">
                                                <h1>Bánh tôm, món đặc sản Hà Nội được CNN ca ngợi hết lời</h1>
                                            </a>

                                            <div class="news__content-item--info-sub">
                                                <span class="news__content-item--sub-category">Cẩm nang du lịch</span>
                                                <p class="news__content-item--sub-date">- 17/11/2021</p>
                                            </div>

                                            <div class="news__content-item--info-overview">
                                                <p>
                                                    Một trong những nét đẹp của du lịch Hà Nội khiến bao người mê mẩn là nền ẩm thực. 
                                                    Trong đó, món bánh tôm Hồ Tây là món ăn không nên bỏ qua khi đến Hà Nội, món ăn này cũng từng 
                                                    được CNN hết lời khen ngợi trong chương trình “Destination”.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pagination__block">
                        <div class="pagination__list">
                            <div class="pagination__prev">
                                <a href="" class="pagination__item pagination__prev-item">
                                    <i class="pagination__prev-icon"><ion-icon name="arrow-dropleft"></ion-icon></i>
                                </a>
                            </div>

                            <div class="pagination__num">
                                <a href="" class="pagination__item active pagination__num-item">1</a>
                                <a href="" class="pagination__item pagination__num-item">2</a>
                                <a href="" class="pagination__item pagination__num-item">3</a>
                            </div>

                            <div class="pagination__next">
                                <a href="" class="pagination__item pagination__next-item">
                                    <i class="pagination__next-icon"><ion-icon name="arrow-dropright"></ion-icon></i>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </main>

        <!-- Footer -->
        <footer>
            <!-- Footer Top -->
            <div class="footer__top">
                <div class="grid wide">
                    <div class="row">
                        <div class="col l-3 m-4 c-6">
                            <div class="footer__top-item">
                                <div class="footer__text-heading">
                                    <h4>Liên Hệ</h4>
                                </div>
                                <p class="footer__top-text--content">379, Nguyễn Văn Linh, Phường Long Tuyền, Quận Bình Thủy, TP Cần Thơ</p>
                                <p class="footer__top-text--content">(+84 28) 74821032</p>
                                <p class="footer__top-text--content">(+84 28) 39123123</p>
                                <p class="footer__top-text--content">@tourvn.com.vn</p>
                            </div>
                        </div>

                        <div class="col l-3 m-4 c-6">
                            <div class="footer__top-item">
                                <div class="footer__text-heading">
                                    <h4>Thông tin</h4>
                                </div>
                                <p class="footer__top-text--content">Thành lập ngày 18/9/2002</p>
                                <p class="footer__top-text--content">Chất lượng phục vụ là mục tiêu hàng đầu</p>
                                <p class="footer__top-text--content">Tổng đài Hotline 24/7</p>
                            </div>
                        </div>

                        <div class="col l-3 m-4 c-6">
                            <div class="footer__top-item">
                                <div class="footer__text-heading">
                                    <h4>Dịch vụ</h4>
                                </div>
                                <p class="footer__top-text--content">Đa dạng loại tour, đạt chất lượng tốt nhất</p>
                                <p class="footer__top-text--content">Hỗ trợ hoàn trả vé niếu khách hàng không hài lòng</p>
                                <p class="footer__top-text--content">Đặt tour nhanh chống dễ dàng</p>
                                <p class="footer__top-text--content">Bảo đảm mức giá tốt nhất</p>
                            </div>
                        </div>

                        <div class="col l-3 m-4 c-6">
                            <div class="footer__top-item">
                                <div class="footer__text-heading">
                                    <h4>Thanh toán</h4>
                                </div>
                                <div class="footer__top-img--group">
                                    <img src="../Content/IMG/BG/123pay.png" alt="" class="footer__top-img-item">
                                    <img src="../Content/IMG/BG/jcb.png" alt="" class="footer__top-img-item">
                                    <img src="../Content/IMG/BG/mattercard.png" alt="" class="footer__top-img-item">
                                    <img src="../Content/IMG/BG/verifined.png" alt="" class="footer__top-img-item">
                                    <img src="../Content/IMG/BG/visa.png" alt="" class="footer__top-img-item">
                                    <img src="../Content/IMG/BG/vnpay.png" alt="" class="footer__top-img-item">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col l-3 m-4 c-6">
                            <div class="footer__top-item">
                                <div class="footer__text-heading">
                                    <h4>Mạng Xã Hội</h4>
                                </div>
                                <ul class="footer__social-list">
                                    <li class="footer__social-item">
                                        <a href="" class="footer__social-link">
                                            <i class="footer__social-icon"><ion-icon name="logo-facebook"></ion-icon></i>
                                        </a>
                                    </li>
                                    <li class="footer__social-item">
                                        <a href="" class="footer__social-link">
                                            <i class="footer__social-icon"><ion-icon name="logo-instagram"></ion-icon></i>
                                        </a>
                                    </li>
                                    <li class="footer__social-item">
                                        <a href="" class="footer__social-link">
                                            <i class="footer__social-icon"><ion-icon name="logo-whatsapp"></ion-icon></i>
                                        </a>
                                    </li>
                                    <li class="footer__social-item">
                                        <a href="" class="footer__social-link">
                                            <i class="footer__social-icon"><ion-icon name="logo-youtube"></ion-icon></i>
                                        </a>
                                    </li>
                                    <li class="footer__social-item">
                                        <a href="" class="footer__social-link">
                                            <i class="footer__social-icon"><ion-icon name="logo-sass"></ion-icon></i>
                                        </a>
                                    </li>
                                </ul>

                                <div class="footer__top-hotline">
                                    <a href="" class="footer__top-hotline--link">
                                        <i class="footer__top-hotline--icon"><ion-icon name="call"></ion-icon></i>
                                        1900 1389
                                    </a>
                                </div>

                                <p class="footer__top-text--content">Tư vấn hotline 27/7</p>

                            </div>
                        </div>

                        <div class="col l-9 m-12 c-12">
                            <div class="footer__text-heading">
                                <h4>Địa Chỉ Trụ Sở</h4>
                            </div>
                            <div class="footer__top-map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d450.335639392406!2d105.74423887093945!3d10.036991250892353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a0886654934019%3A0x3dcdae77f5d0f30b!2zUXXDoW4gQ8ahbSBHw6AgWOG7kWkgTeG7oSBUaMOgbmggxJDhuqF0IDI!5e0!3m2!1svi!2s!4v1636857389378!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer Bottom -->
            <div class="footer__bottom">
                <div class="grid wide">
                    <div class="row">
                        <div class="col l-12">
                            <div class="footer__bottom-coppy-right">
                                <p>Bản quyền của Tour VN ® 2019. Bảo lưu mọi quyền.</p>
                                <p>Ghi rõ nguồn "www.TourVN.com.vn" ® khi sử dụng lại thông tin từ website này.</p>
                                <p>Số giấy phép kinh doanh lữ hành Quốc tế: 79-234/2014/TCDL-GP LHQT.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="./Content/JS/js.js"></script>
    <script>
    </script>
</body>
</html>